@* <summary> *@
@*      Creator:  Eric Idle *@
@*      Created:  2025/04/10 *@
@*      Summary:  The details view for seeing all information about a specific expense for a specific project *@
@*      Last Updated By: Syler Bushlack*@
@*      Last Updated: 2025/05/01*@
@*      What was Changed: Added a link to create a invoice linked to the expense
        Last Updated By: Skyann Heintz*@
@*      Last Updated: 2025/05/01*@
@*      What was Changed: Added styling. Hid the projectID

*@
@* </summary> *@

@model DataDomain.Expense

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2 class="m-0">Expense Details</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                @* <dt class="col-sm-3 font-weight-bold"> *@
                @*     @Html.DisplayNameFor(model => model.ExpenseID) *@
                @* </dt> *@
                @* <dd class="col-sm-9"> *@
                @*     @Html.DisplayFor(model => model.ExpenseID) *@
                @* </dd> *@
                <dt class="col-sm-3 font-weight-bold" hidden>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </dt>
                <dd class="col-sm-9" hidden>
                    @Html.DisplayFor(model => model.ProjectID)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    Expense Type
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ExpenseTypeID)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="container mt-3">
    @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    <a href="@Url.Action("Create", "Invoice", new { projectID = Model.ProjectID, expenseID = Model.ExpenseID })" class="btn btn-success">Submit an Invoice</a>
    @* @Html.ActionLink("Submit an Invoice", "Create", "Invoice", new { projectID = Model.ProjectID, expenseID = Model.ExpenseID }) *@
    <a asp-action="Index" class="btn btn-secondary ml-3" asp-route-projectId="@Model.ProjectID">Back to Expenses</a>
</div>
